
  
  table {
    margin-top: 1em;
    width: 100%;
    border-collapse: collapse;
  }
  
  table th, table td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }
  h2{
    color: #163e71;
    margin-top: 3em;
  }
  h1{

    color: #163e71;
  }
  table th {
    background-color:  #93acbb;
    
  }
  
  table tbody tr:hover {
    background-color: #f2f2f2;
    
  }
  
  button {
    display: flex;
    justify-content: center;
    background-color: #163e71;
    color: white;
    padding: 7px 10px;
    font-size: 14px;
    border: none;
    border-radius: 7px 2px 7px 2px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
    text-decoration: none;

  }
  
  button:hover {
    background-color: #93acbb;
  }
  
  button:active {
    background-color: #ffffff;
  }