body {
  background-color: rgb(216, 217, 228);
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.linha {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 7px;
  background-color: #163e71;
  z-index: 2;
}

menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  position: absolute;
  top: 0px;
  right: 10px;
  z-index: 3;
  font-weight: bold;
  margin-right: 50px;
}

.menu-item {
  margin-left: 40px;
  color: #163e71;
  cursor: pointer;
  font-size: 1.1em;
}

.menu-item:hover {
  text-decoration: underline;
}

.logo-container {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0px;
  z-index: 3;
}

header {
  top: 1px;
  left: 0;
  right: 0; 
  height: 50px;
  background-color: white;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 1em 0;
  position: fixed;
  top: 0;
  z-index: 1;
}

.bottom-texts {
  color: #ffffff;
  text-align: center;
  position: absolute;
  bottom: 1px;
  right: 500px;
  z-index: 2;
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tipoAcesso {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4em;
}

.tipoAcesso h1 {
  font-size: 2.2em;
  margin-bottom: 0.1em;
  color: #163e71;
}

.tipoAcesso h3 {
  margin-bottom: 1.5em;
  color: #7b7b7b;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.botao {
  margin: 0.5em;
  padding: 1em 2em;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.botao:hover {
  background-color: #0f2c4d;
}

.ou {
  color: #7b7b7b;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}