.cabecalho {
  background-color: rgb(236, 236, 236);
  flex:1;
  padding: 1% 3%;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 5px 10px 0px rgba(0, 0 , 0, 0.2);
  border-top: 6px solid #163e71;
}

.opcoes_do_menu ul{
  display: flex;
  list-style: none;
  align-items: center;
}

.item{
  margin-right: 3em;
  display: flex;
}

.item a {
  color: #163e71 ;
  text-decoration: none ;
  font-size: 17px;
  font-weight: bold;
}
.item a:hover{
  color: rgb(161, 16, 16);
}
/* 
.botao_menu {
  background-color: rgb(236, 236, 236);
  border: none;
  
}
.img_botao_menu {
  height: 30px;
  width: 25px;
  opacity: 85%;
  transition: opacity 0.2s;
  
}
.img_botao_menu:hover {
  opacity: 0.3;
}
 */

.img_logo_sch {
  width: 65px; 
  height: 55px;
  margin-left: 2em;
}