body {
  background-color:rgb(216, 217, 228);
}
.tipoAcesso{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4em;
}

.tipoAcesso h1{
  font-size: 2.2em;
  margin-bottom: .1em ;
  color: #163e71;
}

.tipoAcesso h2 {
  margin-bottom: 1.5em;
  color: #7b7b7b;
}

.ou{
  color: #7b7b7b;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

