.controle_form {
  display: flex;
  flex-direction: column;
  margin-bottom: 0em;
  margin-top: 1em;
  
}
/*se eu quiser usar em linha criar um classe dinamica pra alterar a flex-direction */

.controle_form label {
  margin-bottom: .6em;
  font-weight: bold;
  color: #163e71;
}

.controle_form input{
  padding:.8em;
  /* width: 100% ; */
  border-radius:  7px 2px 7px 2px;
  border: none;
  outline: none;

}

.controle_form input::placeholder{
  color: #7b7b7b;
}