.btn{
  background-color: #163e71;
  color: #fff;
  padding: 0.5em 1em;
  text-decoration: none;
  transition: 0.5s;
  margin-bottom: .5em;
  margin-top: .5em;
  border-radius: 7px 2px 7px 2px;
  width: 160px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
}

.btn:hover{
  color: rgb(161, 16, 16);
}