table {
    text-align: center;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.2);
  }
  table, td {
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.2);
  }
  thead, tfoot {
    margin-left: auto;
    margin-right: auto;
    background-color:  rgb(236, 236, 236);
    border-radius: 7px 2px 7px 2px;
    color: black;
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.2);
  }
  thead,th {
    margin-left: auto;
    margin-right: auto;
    border-radius: 7px 2px 7px 2px;
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.2);
  }
  tbody, td {
    margin-left: auto;
    margin-right: auto;
    border: 10px solid  rgb(236, 236, 236);
    border-radius: 7px 2px 7px 2px;
    background-color:  rgb(236, 236, 236);
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.2);
  }
  .tabela {
    background-color: rgb(22, 62, 113);
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
  }